nav {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh;
  background: rgb(231, 129, 174);
  background: linear-gradient(
    90deg,
    rgba(231, 129, 174, 1) 0%,
    rgba(47, 8, 91, 1) 100%
  );
  opacity: 0.8;
  z-index: 2;
}

#btn-button {
  display: none;
}

nav img {
  filter: invert(1);
}

.menu {
  color: white;
  margin: 20% auto;
}

.menu li {
  margin: auto;
  text-align: center;
  padding: 7%;
}

.hide-view {
  display: none;
  transition: all 2s;
}

.menu-view {
  display: block;
  transition: all 2s;
}
